@use 'variables' as v;

h1, h2, h3 {
	font-family: v.$principalFont;
	margin: 0;
	font-weight: 400;
	color: v.$white;
	text-transform: uppercase;
	text-align: center;
	// background: #2980B9;
	// background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
	// background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
	background: #654ea3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

	background-clip: text;
	-webkit-text-fill-color: transparent;
  color: transparent; 
}

h1 {
	font-size: 4.5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 2.4rem;
}
p {
	color: v.$gray;
	font-size: 2.6rem;
}