@use 'base/variables' as v;
@use 'base/mixins' as m;

.about{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-justify: distribute;
  margin-top: 0;
  padding-top: 15rem;

  @include m.tablet{
    text-align: center;
  }

  .about-text-container{
    flex: 4;

    p{
      margin-top: 2rem;
      
      @include m.phone{
        font-size: 1.5rem;
      }
    }

    .typed{
      color: v.$blue;
    }
  }

  .about-img-container{
    max-width: 30rem;

    @include m.tablet{
      display: none;
    }
    
    img{
      width: 100%;
      height: auto;

    }
  }
}

.about-page{
  text-justify: distribute;
  margin-top: 0;
  padding-top: 15rem;

  .about-text-container{
    flex: 4;

    p{
      margin-top: 2rem;
      
      @include m.phone{
        font-size: 1.5rem;
      }
    }

    .typed{
      color: v.$blue;
    }
  }

  .about-heading-container{
    display: flex;
    align-items: center;
  
    img{
      display: inline-block;
      width: 8rem;
      margin-right: 2rem;
  
      @include m.tablet{
        display: none;
      }
    }
    
    h1{
      display: inline-block;
    }
  }
}